pre {
    padding: 1em;
    white-space: nowrap;
    background: #444;
    border-radius: 4px;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.71429;
    display: block;
    max-width: 400px;
}